html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}

html, body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}
.header_inner{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.menu_list{
    display: flex;
    gap: 40px;
}
.header{
    background-color: #FEFDFC;
}
.footer{
    background-color: #383230;
    padding: 50px 0 35px;
    font-weight: 400;
}

.footer_menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}
.footer_menu-title{
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    font-size: 13px;
    color: #817A70;
    padding-bottom: 30px;
}
.footer_menu-list{
    max-width: 250px;
}
.footer_menu-item{
    color:#E0DBD2;
    font-family: "Inter", sans-serif;
    font-size: 13px;
}

.footer_menu-item + .footer_menu-item{
    padding-top: 16px;
}

.footer_menu-box{
    max-width: 300px;
}
.section-title{
    font-family: "EB Garamond", serif;
    color: #FFFFFF;
    font-size: 48px;
    padding-bottom: 16px;
}
.section_text{
    font-family: "EB Garamond", serif;
    color: #E0DBD2;
    font-size: 24px;
    padding: 10px 0 10px;
}
.form_btn{
    color:  #383230;
    border-radius: 3px;
    width: 70px;
    height: 30px;
    
    
}
.form{
    padding-top: 15px;
}

.form_input{
    border: 2px solid grey;
    background-color: #383230;
    border-radius: 4px;
    height: 30px;
    width: 210px;
}

.copy_nav-item{
    color: #8C8C8C;
    font-family: "Inter", sans-serif;
    font-size: 10px;
}

.copy_nav-list{
    display: flex;
    justify-content: left;
    gap: 25px;
}

.main{
    flex-grow: 1;
}

.swiper-slide{
    height: 630px;
   
}
.slider{
    justify-content: center;
    max-width: 1220px;
}
.section-top{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    background-color: #F9F7F4;
}
.top_msg{
    color: #000000;
    font-family: "EB Garamond", serif;
    font-size: 48px;
    font-weight: 400;
    max-width: 590px;
}
.msg{
    color: #000000;
    font-family: "EB Garamond", serif;
    font-size: 34px;
    font-weight: 400;
    max-width: 590px;
}
.section-img{
    height: 80px;
    background-color:  #F9F7F4;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.img-brands + .img-brands{
    padding-right: 50px;
}
.section-phr{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    background-color: #FEFDFC;
}
.section-advices{
    padding: 100px 0 100px;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;   
}

.name{
    padding: 8px 0 11px;
    font-family: "EB Garamond", serif;
    font-size: 25px;
    font-weight: 400;
}

.text-adv{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    max-width: 485px;
    height: 45px;
    color: #555555;
    line-height: 22.4px;
}


.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #555555;
    border-radius: 0;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    height: 5px;
    background-color: #fff;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 15px;
}
.section-title{
    font-family: "EB Garamond", serif;
    font-size: 31px;
    font-weight: 400;
    color: #000;
}
.section-title-footer{
    font-family: "EB Garamond", serif;
    font-size: 48px;
    font-weight: 400;
    color: 
    #FFFFFF;
}
.text-market{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #000;
}
.market-content{
    display: flex;
    
}
.market{
    padding: 0 0 120px;
}
.card{
    max-width: 230px;
    max-height: 355px;
    border: 2px solid #E0DBD2;
    margin-left: 40px;
}
.card-text{
    padding: 12px;
}
.text-man{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: #8C8C8C;
    padding-top: 4px;
}
.card + .card{
    margin-bottom: 40px;
}
.text-card{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: #383230;
    padding: 10px 0 10px;
}
.info{
    display: flex;
}
.text-card-name{
    padding-right: 12px;
}
.content{
    display: flex;
    
}
.content-vert{
    max-height: 734px;
}

.market-content{
    padding-top: 40px;
    justify-content: space-between;
}
.items{
    display: flex;
    justify-content: space-between;
    max-width: 1200;
}

